---
layout: default
---
{% from './macros.njk' import entryFooter %}

<article class="h-entry">
  <h1 class="p-name">{{ name }}</h1>

  <p class="p-summary">{{ summary }}</p>

  <div class="e-content">
    {{ content | safe }}
  </div>

  {{ entryFooter(metadata, page) }}
</article>
