---
layout: default
---
{% from './macros.njk' import entryFooter %}

<article class="h-entry">
  {% if name %}
  <h1 class="p-name">{{ name }}</h1>
  {% endif %}

  {% if summary %}
  <q class="p-summary">{{ summary }}</q>
  {% endif %}

  {% if content %}
  <div class="e-content">
    {{ content | safe }}
  </div>
  {% endif %}

  {{ entryFooter(metadata, page) }}
</article>
