{% macro gallery(page, photos, height=120) %}
  <section class="gallery">
    {% for photo in photos %}
    {% set id = uniqId('photo') %}
    <div id="{{ id }}" class="lightbox">
      <div class="lightbox__box">
        <a class="lightbox__close" href="#">X</a>
        <div class="lightbox__content">
          <img src="{{ photo }}"/>
        </div>
      </div>
    </div>
    <a class="lightbox__thumbnail" href="#{{ id }}"><img src="{{ photo }}" height="{{ height }}"/></a>
    {% endfor %}
  </section>
{% endmacro %}
