---
layout: default
---
<article class="h-entry">
  <p>Published by <a class="p-author h-card" href="{{ author.link }}">{{ author.name }}</a>
     on <time class="dt-published" datetime="{{ date.toISOString() }}">{{ date.toDateString() }}</time></p>

  <div class="e-content">
    {{ content | safe }}
  </div>
</article>
