---
layout: default
tags:
  - post
---
{% from 'macros.njk' import gallery %}

<section>
  <article class="pure-g">
    <div class="pure-u-1-6">
      <a href="{{ url }}"><time>{{ date | formatDate('yyyy/MM/dd HH:mm') }}</time></a>
    </div>

    <div class="pure-u-5-6">
      {% if content %}
        <div class="e-content">
          {{ content | autolink | emojify | nl2br | safe }}
        </div>
      {% endif %}
      {% if photos %}
        {{ gallery(page, photos, '300px') }}
      {% endif %}
    </div>
  </article>
</section>
