---
layout: quote
location:
  type: card
  name: Portland, Oregon, USA
  latitude: 45.51125
  longitude: -133.653804
name: |
  "Because I've already got webmentions on my site, Brid.gy worked straight out of the gate--a lovely demonstration of some small pieces, loosely joined." - @adactio on posting notes from his own website: http://adactio.com/journal/6826/
tags:
  - indieweb
  - webmention
  - bridgy
  - twitter
author: https://aaronparecki.com/
date: 2014-06-01T12:35:41
---
"Because I've already got webmentions on my site, Brid.gy worked straight out of the gate--a lovely demonstration of some small pieces, loosely joined.\" - <a href=\"https://twitter.com/adactio\">@adactio</a> on posting notes from his own website: <a href=\"http://adactio.com/journal/6826/\"><span class=\"protocol\">http://</span>adactio.com/journal/6826/</a>
