---
layout: entry
date: 2015-10-20T15:49:00Z
author: http://alice.example.com
name: Hello World
tags: Posts
references:
  http://alice.example.com:
    type: card
    name: Alice
    url: http://alice.example.com
    photo: http://alice.example.com/photo.jpg
---
This is a blog post
