---
layout: default
eleventyExcludeFromCollections: true
name: datashaman
---
{% from 'macros.njk' import gallery %}

<section>
  {% for page in collections.post %}
  <article class="pure-g">
    <div class="pure-u-1-6">
      <a href="{{ page.url }}"><time>{{ page.date | formatDate('yyyy/MM/dd HH:mm') }}</time></a>
    </div>

    <div class="pure-u-5-6">
      {% if page.data.summary or page.templateContent %}
        <div class="e-content">
          {{ page.data.summary | default(page.templateContent) | autolink | emojify | nl2br | safe }}
          {% if page.data.summary %}<a href="{{ page.url }}">more</a>{% endif %}
        </div>
      {% endif %}
      {% if page.data.photos %}{{ gallery(page, page.data.photos, 120) }}{% endif %}
    </div>
  </article>
  {% endfor %}
</section>
