---
permalink: rss.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }}</title>
        <link>{{ metadata.url }}</link>
        <description>{{ metadata.description }}</description>
        <lastBuildDate>{{ now.toUTCString() }}</lastBuildDate>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <!--<generator>https://github.com/webmasterish/vuepress-plugin-feed</generator>-->
        <atom:link href="https://datashaman.com/feed.atom" rel="self" type="application/rss+xml"/>
        {% for post in posts %}
        <item>
            <title>{{ post.title }}</title>
            <link>{{ metadata.url }}/{{ post.uuid }}/</link>
            <guid>{{ metadata.url }}/{{ post.uuid }}/</guid>
            <pubDate>{{ post.date.toUTCString() }}</pubDate>
            {% if post.summary %}
            <description><![CDATA[{{ post.summary | safe | escapeXml }}]]></description>
            {% endif %}
        </item>
        {% endfor %}
    </channel>
</rss>
